<section class="c-violations-grid-item__header">
  <h4 class="c-violations-grid-item__title u-align-center">{{title}}</h4>
</section>

<section class="c-violations-grid-item__body u-relative">
  <div class="c-violations-grid-item__body-content u-fill">
    {{!-- Provide violating content heres --}}
    {{yield}}
  </div>
</section>
