<li class="c-violations-grid-item o-content-box" ...attributes>
  <section class="c-violations-grid-item__header">
    <h3 class="c-violations-grid-item__title u-align-center">{{@title}}</h3>
  </section>

  <section class="c-violations-grid-item__body u-relative">
    <div class="c-violations-grid-item__body-content u-fill">
      {{!-- Provide violating content here --}}
      {{yield}}
    </div>
  </section>
</li>
