@use 'variables/variables' as *;
@use 'globals' as *;

.application {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background-color: $theme-color__offWhite;
  z-index: 1;

  .application__main-content {
    min-width: $min-width__main-content;
  }
}
