<button id="focusable-by-default" {{action "test"}}></button>
<span id="focusable-by-tabindex" tabindex="0" {{action "test"}}></span>
<a id="not-focusable" {{action "test"}}></a>

<form {{action "test" on="submit"}}>
  <input type="submit">
</form>
