<div class="application o-content-box">

  <header class="application__header">
    <h1 class="u-align-center">Ember A11y Testing</h1>
  </header>

  <main class="application__main-content u-relative u-fill-width o-content-box--lg">

    {{!-- Main content --}}
    {{outlet}}

  </main>
</div>
