{{link-to "a11y test" "a11y-test" id="display-none" style="display:none" tabindex="1"}}
<input type="text" id="visibility-none" style="visibility:none" tabindex="1"/>
<input type="text" id="height-none" style="height:0" tabindex="1"/>
<input type="text" id="width-none" style="width:0" tabindex="1"/>
<input type="text" id="opacity-none" style="opacity:0" tabindex="1"/>
<input type="hidden" id="hidden-field" tabindex="1"/>
<input type="text" id="aria-hidden" aria-hidden="true" tabindex="1"/>
<input type="text" id="not-aria-hidden" aria-hidden="false" tabindex="1"/>
<span id="visible-element" tabindex="-1">Focus me</span>
