<form id="failing-form">
  <label for="has-label">Has label</label>
  <input type="text" id="has-label">

  <input type="text" id="has-no-label">

  <label for="has-no-label-content"></label>
  <input type="text" id="has-no-label-content">

  <input type="password">

  <input type="submit" id="submit-input">

  <button id="button-empty"></button>
</form>

<form id="passing-form">
  <label for="username">Username</label>
  <input type="text" id="username">

  <label for="password">Password</label>
  <input type="password" id="password">

  <input type="submit" value="Submit">
</form>
