<label class="u-fill-width u-align-center p-violations__grid-item-content--radio" for="violations__radio-group-items--strawberries">
  Strawberries
  {{!-- {{radio-button name="fruits" groupValue=model.currentFruit value="Strawberries" radioId="violations__radio-group-items--strawberries" visualNoiseLevel=model.currentNoiseLevel}} --}}
  <RadioButton @name="fruits" @groupValue="3" @radioClass="3" @value="Strawberries" @radioId="violations__radio-group-items--strawberries" @foo="3" @turnAuditOff={{true}} />
</label>

<PassingComponent @data-test-selector="passing-input" />
{{outlet}}
